<body style="background-image: url('<%= asset_path('Banner_1_Greystone_Web.jpg') %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container">
    <h1 class="my-4">Lohono Stays</h1>
    <div class="card mb-4  w-50">
      <div class="card-body">
        <h2 class="card-title">Search Villas</h2>
        <%= form_with url: search_villas_path, method: :get, local: true, class: 'form-inline' do %>
          <div class="row mb-3">
              <label for="start_date" class="col-sm-2 col-form-label">Start Date</label>
              <div class="col-sm-10">
                <input type="date" name="start_date" id="start_date" class="form-control" required>
              </div>
            </div>
            <div class="row mb-3">
              <label  for="end_date" class="col-sm-2 col-form-label">End Date</label>
              <div class="col-sm-10">
                <input type="date" name="end_date" id="end_date" class="form-control" required>
              </div>
            </div>
            <%= submit_tag 'Search', class: 'btn btn-primary float-end' %>
        <% end %>
      </div>
    </div>
  </div>
</body>